<style>

</style>

<!-- Dropdown Menu -->
<div style="text-align:center">
  <h1>
    Select an Aircraft:
  </h1>

  <span>Aircraft ID No. </span>
  <select #dropdown (change)="onSelected()" name="aircraft-dropdown" id="#">
    <option *ngFor="let item of aircraftList" id={{item.AircraftId}}> {{item.AircraftId}} </option>
  </select>

  <section>
    <div class="example-button-row" >
      <br>
      <button (click)="btn_handler($event)" id="1">Show Utilizations</button>
      <button (click)="btn_handler($event)" id="2">Get Task Array</button>
      <button (click)="btn_handler($event)" id="3">Display Sorted Tasks</button>
      <button (click)="btn_handler($event)" id="4">Display ALL Data</button>
    </div>
  </section>
</div>

<!-- Display Single Utilizations -->
<div *ngIf = "isShown_Util" style="text-align:center">
  <h1>
    Displaying Utilization Data for Aircraft: {{aircraft_Basic.AircraftId}}
  </h1>
        AircraftId: {{aircraft_Basic.AircraftId}} <br>
        DailyHours: {{aircraft_Basic.DailyHours}} <br>
        CurrentHours: {{aircraft_Basic.CurrentHours}} <br>
        ----------------------------------------------------- <br>
</div>

<!-- Display Single Array -->
<div *ngIf = "isShown_Array" style="text-align:center">
  <h1>
    Displaying TaskList for Aircraft: {{aircraft_Basic.AircraftId}}
  </h1>
  <ul *ngFor="let task of aircraft_Basic.Task; let i = 'index'" style="list-style-type: none;">
    <li>
      <!-- <h3>AircraftId: {{item.AircraftId}}, DailyHours: {{item.DailyHours}}, CurrentHours: {{item.CurrentHours}}</h3> -->
        ItemNumber: {{task.ItemNumber}} <br>
        Description: {{task.Description}} <br>
        LogDate: {{task.LogDate}} <br>
        LogHours: {{task.LogHours}} <br>
        IntervalMonths: {{task.IntervalMonths}} <br>
        IntervalHours: {{task.IntervalHours}} <br>
        NextDueDate: {{task.NextDueDate}} <br>
        ----------------------------------------------------- <br>
    </li>
  </ul>
</div>

<!-- Display Sorted Tasks -->
<div *ngIf = "isShown_SortedTasks" style="text-align:center">
  <h1>
    Displaying Sorted Tasks for Aircraft: {{aircraft_Basic.AircraftId}}
  </h1>
  <ul *ngFor="let task of sorted_Tasks; let i = 'index'" style="list-style-type: none;">
    <li>
      <!-- <h3>AircraftId: {{item.AircraftId}}, DailyHours: {{item.DailyHours}}, CurrentHours: {{item.CurrentHours}}</h3> -->
        ItemNumber: {{task.IN}} NextDueDate: {{task.NDD}} <br>
        ----------------------------------------------------- <br>
    </li>
  </ul>
</div>

<!-- Showing All Aircraft Data -->
<div *ngIf = "isShown_ALL" style="text-align:center" id="Util_div">
  <h1>
    Displaying ALL DATA from JSON File:
  </h1>
  <ul *ngFor="let item of aircraftList" style="list-style-type: none;">
    <li>
      <h3>AircraftId: {{item.AircraftId}}, DailyHours: {{item.DailyHours}}, CurrentHours: {{item.CurrentHours}}</h3>
      <ul *ngFor="let task of item.Task; let i = 'index'">
        ItemNumber: {{item.Task[i].ItemNumber}} <br>
        Description: {{item.Task[i].Description}} <br>
        LogDate: {{item.Task[i].LogDate}} <br>
        LogHours: {{item.Task[i].LogHours}} <br>
        IntervalMonths: {{item.Task[i].IntervalMonths}} <br>
        IntervalHours: {{item.Task[i].IntervalHours}} <br>
        ----------------------------------------------------- <br>
      </ul>
    </li>
  </ul>
</div>